:root {
    /* Type */
    --font-header: 'Yeseva One', 'Georgia', 'Times New Roman', serif;
    --font-highlight: 'Montserrat', Helvetica, Arial, sans-serif;
    --font-body: 'Montserrat', Helvetica, Arial, sans-serif;

    /* Transitions */
    --transition-base: 0.3s ease-in-out;

    /* Borders */
    --border-radius-small: 5px;
    --border-radius-large: 10px;

    /* Global Colors */
    --color-text-light: hsl(0, 0%, 91%);
    --color-text-dark: hsl(0, 0%, 15%);

    /* Light Colors */
    --color-primary: #7a4e48;
    --color-canvas: #f1e8db;
    --color-wedding: #c59b8c;
    --color-welcome-child: #a3b18a;
    --color-canvas-tint: #fcfcfc;
    --color-canvas-shade: var(--color-canvas-tint);
    --color-text: hsl(0, 0%, 15%);
    --color-text-muted: hsl(0, 0%, 45%);
    --color-text-inverted: hsl(0, 0%, 91%);
    --color-text-link:  var(--color-primary);
    --color-ui-float: var(--color-primary);
    --border-color: var(--color-primary);
    --image-filter: none;
}
