.form-outer {
  position: relative;
  z-index: 0;
  padding: 3rem 0;
  margin: 1rem 0;
  color: var(--color-primary);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: var(--color-canvas);
    z-index: -1;
  }

  h1 {
    margin-top: 0;
  }
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: auto;

  &::before {
    content: "";
    position: absolute;
    bottom: -5%;
    left: -52%;
    height: 95%;
    width: 95%;
    transform: rotate(2deg);
    background-color: var(--color-primary);
    mask-image: url("/img/icons/flower.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    z-index: -1;
    opacity: 0.6;
  }

  label {
    visibility: hidden;
    display: none;
  }

  input,
  textarea,
  select,
  button {
    font-size: 1rem;
    padding: 0.8rem;
    margin: 0;
    border: 3px solid var(--border-color);
    background-color: transparent;
    color: var(--color-primary);
    box-sizing: border-box;

    &::placeholder {
      color: var(--color-primary);
      opacity: 0.9;
    }
  }

  textarea {
    grid-column: span 2;
    height: 150px;
  }

  button {
    grid-column: span 2;
    background-color: var(--color-primary);
    color: var(--color-canvas);
    font-weight: bold;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: var(--color-canvas-shade);
      color: var(--color-primary);
    }
  }

  .message-box {
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    display: none;
    grid-column: span 2;
  }

  .success {
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
  }

  .error {
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
}
