{{- $images := .Get "images" -}}
{{- $interval := .Get "interval" | default "7000" -}}
{{- $customClasses := .Get "classes" | default "" -}}
{{- $isAboveTheFold := .Get "isAboveTheFold" | default false -}}

{{- $imageList := split $images "," -}}

{{- $page := .Page -}}
{{- $smallImages := slice -}}
{{- $mediumImages := slice -}}
{{- $largeImages := slice -}}

{{- range $imageList }}
    {{- $img := "" -}}
    {{- if $page.Resources.GetMatch . -}}
        {{- $img = $page.Resources.GetMatch . -}}
    {{- else -}}
        {{- $img = resources.Get . -}}
    {{- end -}}

    {{- $small := $img.Resize "600x" | fingerprint -}}
    {{- $medium := $img.Resize "1200x" | fingerprint -}}
    {{- $original := $img | fingerprint -}}

    {{- $smallImages = $smallImages | append $small.RelPermalink -}}
    {{- $mediumImages = $mediumImages | append $medium.RelPermalink -}}
    {{- $largeImages = $largeImages | append $original.RelPermalink -}}
{{- end -}}

<div class="image-fade-slider {{ $customClasses }}"
     data-images='{{ jsonify $mediumImages }}'
     data-small-images='{{ jsonify $smallImages }}'
     data-large-images='{{ jsonify $largeImages }}'
     data-interval='{{ $interval }}'
     style="background-image:url({{ index $mediumImages 0 }});">

    <img src="{{ index $mediumImages 0 }}"
         srcset="{{ index $smallImages 0 }} 600w, {{ index $mediumImages 0 }} 1200w, {{ index $largeImages 0 }} 2000w"
         sizes="(max-width: 512px) 600px, (max-width: 1024px) 1200px, 2000px"
         class="image"
         alt="Image Slider"
         loading="{{ cond $isAboveTheFold "eager" "lazy" }}"
         decoding="{{ cond $isAboveTheFold "sync" "async" }}" />
</div>

<script>
    (function() {
        const sliders = document.querySelectorAll('.image-fade-slider');

        sliders.forEach(slider => {
            const images = JSON.parse(slider.getAttribute('data-images'));
            const smallImages = JSON.parse(slider.getAttribute('data-small-images'));
            const largeImages = JSON.parse(slider.getAttribute('data-large-images'));
            const interval = parseInt(slider.getAttribute('data-interval'), 10) || 5000;
            let index = 0;

            setInterval(() => {
                index = (index + 1) % images.length;
                slider.style.backgroundImage = `url(${images[index]})`;

                const img = slider.querySelector('img');
                if (img) {
                    img.classList.add('fade-out');
                    setTimeout(() => {
                        img.src = images[index];
                        img.srcset = `${smallImages[index]} 600w, ${images[index]} 1200w, ${largeImages[index]} 2000w`;
                        img.sizes = "(max-width: 512px) 600px, (max-width: 1024px) 1200px, 2000px"
                    }, 100);

                    img.onload = () => {
                        img.classList.remove('fade-out');
                    };
                }
            }, interval);
        });
    })();
</script>
